<div class="container">

        <div class="row section">
 
            <div class="col s12">
                <h3 class="center-align">Baby Tracker</h3>
            </div>

        </div>

        <main>
            <div class="row">
            <div class="col s12">
                <form action="/log" method="POST">
                <input type="text" class="datepicker" placeholder="Select Date" name="date">
            </div>
           
           
            <div class="col s12">
                <input type="text" class="timepicker" placeholder="Select Time" name="time">
            </div>
           
            <div id="checkbox" class="col s12 input-field">
                
                    <p>
                        <label>
                            <input type="checkbox" name="poop" />
                            <span>Poop?</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" name="pee"/>
                            <span>Pee?</span>
                        </label>
                        <input placeholder="# of Oz" id="first_name" type="text" class="validate" name="milk_total">
                        <label for="first_name">How much Milk did she drink?</label>
                    </p>
                    <button class="btn waves-effect waves-light red" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                      </form>
                      <form action="/day" method="GET">
                      <button class="btn waves-effect waves-light blue" type="submit" name="action">View Log
                        <i class="material-icons right">calendar_today</i>
                      </button>      
                      </form>
                
        
        </div>

</div>
    </div>
</main>